{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar Tarefa</h1>
    <section class="principal">
        <a href="{{ path("tarefas") }}" class="botao-voltar">voltar</a>
        {{ form(formulario) }}
    </section>
{% endblock %}