{% extends 'base.html.twig' %}

{% block title %}Todo | Lista de Tarefas{% endblock %}

{% block body %}
    <header>
        <h1>Lista de Tarefas</h1>
    </header>
    <main class="principal">
        <a href="{{ path("cria_tarefa") }}" class="botao-criar">nova tarefa</a>
        <table>
            <thead>
                <tr>
                    <td class="conclui"></td>
                    <td class="tabela-titulo">Título</td>
                    <td class="tabela-descricao">Descrição</td>
                    <td class="tabela-edita">Ação</td>
                </tr>
              </thead>
            <tbody>
            {% for tarefa in tarefas %}
                <tr>
                    <td>
                        <a href="{{ path("remove_tarefa", {id: tarefa.id }) }}" class="conclui">
                            <img src="{{ asset("img/check.svg") }}">
                        </a>
                    </td>
                    <td>
                        <a href="{{ path("mostra_tarefa", {id: tarefa.id }) }}" class="botao-mostra">
                            {{ tarefa.titulo }}
                        </a>
                    </td>
                    <td class="descricao">{{ tarefa.descricao }}</td>
                    <td>
                        <a href="{{ path("edita_tarefa", {id: tarefa.id }) }}" class="botao-edita">editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
