{% extends 'base.html.twig' %}

{% block body %}
<h2>{{ tarefa.titulo }}</h2>
    <section class="principal">
        <a href="{{ path("tarefas") }}" class="botao-voltar">voltar</a>
        <h3>{{ tarefa.descricao }}</h3>
    </section>
{% endblock %}