
.container {
    width: 800px;
    margin: 6% auto;
    font-family: sans-serif;
    border: 3px solid #928362;
    border-radius: 6px;
}

.principal {
    padding-top: 8px;
    background-color: #F5F5ED;
}

h1, h2 {
    color: #393737;
    background-color: #ead096;
    padding-top: 5px;
    font-size: 35px;
    text-align: center;
    border-bottom: 3px solid #928362;
}

h3 {
    text-align: center;
}

.botao-voltar, .botao-criar, .botao-edita {
    color: white;
    border: none;
    padding: 3px 20px;
    border-radius: 6px;
    text-decoration: none;
}

.botao-criar, .botao-voltar {
    background-color: #29A63C;
    margin: 5px;
}

.botao-criar:hover {
    background-color: #129e28;
    padding: 5px 21px;
}

.botao-voltar:hover {
    background-color: #129e28;
    padding: 4px 21px;
}

.botao-mostra {
    background-color: transparent;
    border: none;
    font-size: medium;
    text-decoration: none;
    color:black;
    text-overflow: ellipsis;
}

.botao-mostra:hover {
    color: #b8b5b5;
    font-size: 16.2px;
}

.botao-edita {
    background-color: #29A63C;
}

.botao-edita:hover {
    background-color: #129e28;
    padding: 4px 21px;
}

#tarefa_criar {
    border: none;
    border-radius: 6px;
    background-color: #29A63C;
    padding: 3px 18px;
    margin: 5px 0 ;
    color: #fff9f9;
}

#tarefa_criar:hover {
    padding: 4px 19px;
    background-color: #129e28;
}

#tarefa {
    margin: 5px 0 0 3px;
}

div input {
    display: block;
    width: 96%;
    margin-left: 1px;
}

thead {
    border-bottom: 1px solid #928362;
}

.conclui {
    width: 5%;
    padding-left: 5px;
}

.conclui:hover {
    position: relative;
    top: 2px;
}

.tabela-titulo {
    width: 15%;
    padding: 8px 0 0 3px;
}
.tabela-descricao{
    width: 60%;
    overflow: hidden;
}

.tabela-edita {
    text-align: center;
    width: 5%;
}

td {
    margin-top: 3px;
    padding: 3px 1px 5px 0;
}

tr:nth-child(even){
    background-color: #ffffff;
}