<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Todo | Lista de Tarefas{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('style/reset.css') }}" rel="stylesheet"/>
            <link href="{{ asset('style/estilo.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body  class="container">
        {% block body %}{% endblock %}
    </body>
</html>
